.main{
    /* width:100%; */
    padding-left: 10%;
    padding-right: 10%;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    background-color: #eff4fa;
    padding: 50px;
  }

  .selected{
    float: right;


  }


  .type{
    font-family: Lato-SemiBold;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #28c328;
    margin-left:10px;
  }

  .star{
    width: 13.1px;
    height: 13.2px;
  
  }

  h1{
    font-family: Lato-Light;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 3.61px;
    text-align: center;
    color: #28c328;
  }

  ngx-carousel
  {
    margin-left: 10%;
    width:80%;
    /* height:22.85% !important; */
  }

  .leftRs{
    position: absolute;
    left: -75px;
    top: 40px;
    width:20px;

  }

  .rightRs{
    position: absolute;
    right: -25px;
    top: 40px;
    width:20px;
  }


  h2{
    font-family: Lato-Regularftyp;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 1.6; */
    letter-spacing: 0.75px;
    text-align: center;
    color: #999999;
  }

  .rate{
    font-family: Lato;
    font-size: 17.1px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1c1c1c;
    /* margin-left:10px; */
  
  }

  .currency{
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5e5e5e;
    margin-left:10px;
  }



  .degree
  {
    font-family: Lato-Light;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5e5e5e;
    margin-left:10px;
  }

  .name
  {
    font-family: Lato;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1c1c1c;
    margin-top: 4px;
    margin-left: 10px;  
  }
  
  ngx-item {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    border-style: solid;
    border-color: #1c1c1c;
    width:290px !important;
    height:200px !important;
    margin-right:10%
    /* width:10%;
    height:10%; */
    /* margin-right: 30px; */
  }

  .continue{
    text-align: center;
    margin-top: 10px;
  }

  .button1{
    width: 150px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border: solid 2px #6ad969;
    background-color: #ffffff;
    color: #6ad969;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 900;
    font-family: Lato-Black;
  }

  .button {
    background-color: #6ad969;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    width:240px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: Lato-Black;
  }