<div class="main">
    <h1><span style="color:black">Choose</span> Cargiver</h1>
    <h2>This is a dummy text</h2>
</div>


<ngx-carousel 
        [inputs]="carouselOne"
        (carouselLoad)="myfunc($event)">
          <ngx-item NgxCarouselItem  *ngFor="let doctor of doctor;let i=index" (click)="selectDoctor(i)" 
          [ngStyle]="{'border-color':doctorSelected[i]?'#6ad969':'#d6e2ec'}">
          <div class="type">{{doctor.type}}</div>
          <div class="name">
            <span>{{doctor.name}} </span>
            <span>(<img class="star" src="../../assets/shape-copy-3@3x.png"/> 
              <span class="rate"> {{doctor.rating}}</span>)</span>
          </div>
          <div class="degree"><span>{{doctor.degree}}-</span>
          <span>{{doctor.medicine}}</span>
        <!-- <span *ngIf="doctorSelected[i]" class="selected"><img src="../../assets/group-9@3x.png" style="height: 26px"/></span> -->
      </div>
          <div class="currency">{{doctor.fee | currency}}</div>
          </ngx-item>
          <img NgxCarouselPrev class='leftRs' src="https://cdn0.iconfinder.com/data/icons/website-kit-2/512/icon_402-512.png"/>
          <img NgxCarouselNext class='rightRs' src="https://image.flaticon.com/icons/svg/32/32213.svg"/>
          <!-- <button NgxCarouselPrev class='leftRs'>&lt;</button> -->
          <!-- <button NgxCarouselNext class='rightRs'>&gt;</button> -->
    </ngx-carousel>

    <div class="continue">
        <button class="button1" (click)="back()">Back</button>
      <button class="button" (click)="continue()">Book Caregiver<img src="../../assets/arrow.png" style="height:15px;padding-left:5px;"></button>
    </div>