<h1 class="heading">Select your <span class="heading service">Service</span></h1>
<p class="under-head">Multiple services can be selected, and this is a dummy text</p>
<div class="flex-container">
  <div *ngFor="let data of services;let i=index">
    <div class="upperDiv" (click)="toggleAccordion(i,$event)" [ngStyle]="{'border-style':values[i].date != '' && values[i].select!=''?'inherit':'hidden',
    'border-color':values[i].date != '' && values[i].select!=''?'#28c228':'#d6e2ec'}">
      <img class="checkbox" (click)="prevent()" *ngIf="values[i].select==''" src="../assets/group-6@3x.png" />
      <img class="checkbox" (click)="unselect(i)" *ngIf="values[i].date != '' && values[i].select!=''" src="../assets/group-10@3x.png" />
      <span class="data" [ngStyle]="{'color':values[i].date != '' && values[i].select!='' && !accordionview[i]?'#28c328':'#000000'}">
        <img src="../../assets/veterinarian@3x.png" *ngIf="values[i].select=='' || accordionview[i]" style="width: 21px;height: 20px;"/>
        <img src="../../assets/stationary-bike@3x.png" *ngIf="values[i].date != '' && values[i].select!='' && !accordionview[i]" style="width: 21px;height: 20px;"/>
          {{data}}</span>
    </div>
    <div id="container" [ngStyle]="{'border-color':values[i].date != '' && values[i].select!=''?'#28c228':'#d6e2ec'}">
      <div *ngIf="accordionview[i]" [@inOutAnimation]>
        <div class="flex-inner-container">
          <div >
            <p class="service-dur">Service duration</p>
            <div class="styled-select">
              <select class="select" [(ngModel)]="values[i].select">
                <option *ngFor="let duration of options">
                  {{duration}}
                </option>
              </select>
            </div>
            <p class="service-dur">Select Date and Time</p>
            <div class="styled-date">
              <angular2-date-picker class="date-time" [settings]="settings" [(ngModel)]="values[i].date"></angular2-date-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="continue">
  <button class="button" (click)="continue()">Continue   <img src="../../assets/arrow.png" style="height:15px;padding-left:5px;"></button>
</div>